<label for="limiter">Limit</label>
<input ng-model="itemsPerPage" type="number" id="limiter">

<table class="table table-hover table-responsive">
    <thead>
    <tr>
        <th ng-click="sortBy('bp.id')">id</th>
        <th>
            <span ng-click="sortBy('bp.title')">Title</span>
            <input ng-model="filter" placeholder="filter">
        </th>
        <th>Options</th>
    </tr>
    </thead>
    <tbody>

    <tr ng-repeat="post in blogPosts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>
            <a href="#!update/{{ post.id }}" class="btn btn-default btn-sm">Edit</a>
            <a href="" ng-click="remove(post.id)" class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>

    </tbody>
</table>

<uib-pagination total-items="totalItems"
                items-per-page="itemsPerPage"
                ng-model="currentPage"
                ng-change="pageChanged()"></uib-pagination>

<a href="#!create" class="btn btn-lg btn-success">Create</a>